.list{
    display: flex;
}

.list_item{
    width: 40px;
    height: 25px;
    list-style: none;
    border: 1px solid black;
    background-color: grey;
    
    &:not(:last-child){
        margin-right: 15px;
    }
}

.short{
    background-color: red;   
}

.medium{
    background-color: yellow;
}

.hard{
    background-color: green;
}
