.password_reliability{
    display: flex;
}

.block_one, .block_two, .block_three {
    width: 20px;
    height: 15px;
    border: 1px solid tomato;
}

.short_password{
    background-color: red;
    border-color: black;
}