<header>
    <h1>Check your password</h1>
</header>
<main>
    <form class="form" autocomplete="off" name='password_form'>
        <label for="user_password">Enter your password</label>
        <input type="password" name="password" id="user_password" placeholder="Password">
    </form>
    <p>Text field value: <span class="output"></span></p>

    <ul class="list">
        <li class="list_item">A</li>
        <li class="list_item">B</li>
        <li class="list_item">C</li>
    </ul>

    
</main>