<header>
    <h1>Check your password</h1>
</header>
<main>
    <form class="form" autocomplete="off" name='password_form'>
        <label for="user_password">Enter your password</label>
        <input type="password" name="password" id="user_password" placeholder="Password" maxlength="15">
    </form>
    
    <div class="thumb">
        <div class="block first_block"></div>
        <div class="block second_block"></div>
        <div class="block third_block"></div>
    </div>

    <p>Password status: <span class="output"></span></p>    
</main>