<header>
    <h1>Check your password</h1>
</header>
<main>
    <form class="form" autocomplete="off" name='password_form'>
        <label for="user_password">Enter your password</label>
        <input type="password" name="password" id="user_password" placeholder="Password">
    </form>
    <p>Text field value: <span class="output"></span></p>
    <div class="password_reliability">
        <div class="block_one"></div>
        <div class="block_two"></div>
        <div class="block_three"></div>
    </div>

    
</main>